<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          router
          :to="item.to"
          :key="index"
          v-for="(item, index) in items"
          exact
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed app>
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title" style="cursor: pointer" @click="gotoHome()"></v-toolbar-title>
      <v-toolbar-side-icon ripple @click="switchUser">
        <v-icon v-if="$store.state.user === 0">person</v-icon>
        <v-icon v-else-if="$store.state.user === 1">people</v-icon>
        <v-icon v-else-if="$store.state.user === 2">person_outline</v-icon>
        <v-icon v-else>people_outline</v-icon>
      </v-toolbar-side-icon>
      <v-spacer></v-spacer>
      <v-toolbar-side-icon ripple dark color='blue' @click="gotoNew">
        <v-icon>add</v-icon>
      </v-toolbar-side-icon>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <!--v-footer fixed app>
      <span>&copy; 2018</span>
    </v-footer-->
    <v-dialog v-model="createDialog" max-width="500px">
      <v-card>
        <v-card-title>
          Создать!
        </v-card-title>
        <v-card-text>
          <v-text-field
            label="Название"
            single-line
            v-model="newPointName"
          ></v-text-field>
          <v-select
            :items="$store.state.categories"
            label="Категория"
            item-text="name"
            item-value="id"
            v-model="chosenCategory"
          ></v-select>
        </v-card-text>
        <v-card-actions>
          <v-btn color="default" flat @click.stop="createDialog=false">Закрыть</v-btn>
          <v-spacer/>
          <v-btn color="primary" flat @click.stop="createDialog=false;create()">Создать</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { api, bus } from '~/api.js'
const geolocation = require('geolocation')

export default {
  methods: {
    gotoNew () {
      this.createDialog = true
    },
    async create () {
      var self = this
      geolocation.getCurrentPosition(async function (err, position) {
        if (err) {
          return 'error'
        } else {
          let PointClass = api.Object.extend('Point')
          let point = new PointClass()
          point.set('categoryId', self.chosenCategory)
          point.set('userId', api.User.current().id)
          point.set('name', self.newPointName)
          point.set('radius', 300)
          point.set('center', new api.GeoPoint({
            'latitude': position.coords.latitude,
            'longitude': position.coords.longitude
          }))
          let result = await point.save()
          self.$router.push('/personal/' + result.id)
        }
      })
    },
    gotoHome () {
      this.$router.push('/')
    },
    async switchUser () {
      if (this.$store.state.user === 0) {
        await api.User.logIn('company', 'company')
      } else if (this.$store.state.user === 1) {
        await api.User.logIn('account', 'account')
      } else if (this.$store.state.user === 2) {
        await api.User.logIn('pizza', 'pizza')
      } else if (this.$store.state.user === 3) {
        await api.User.logIn('user', 'user')
      }
      this.$store.dispatch('switchUser')
    }
  },
  data () {
    bus.$on('circles fetched', (circles) => {
      this.items = [this.items[0]]
      for (let key in circles) {
        let circle = circles[key]
        this.items.push({
          icon: 'bubble_chart',
          title: circle.name,
          to: (circle.categoryId ? '/personal/' : '/point/') + circle.id.toString()
        })
      }
    })

    return {
      drawer: true,
      user: true,
      items: [
        { icon: 'apps', title: 'На месте', to: '/' }
      ],
      title: 'Hello, world!',
      createDialog: false,
      chosenCategory: '',
      newPointName: ''
    }
  },
  mounted () {
    bus.$emit('circles fetched', this.$store.state.circles)
  }
}
</script>
