<template>
    <div id="area">
      <div :style="'overflow-y: scroll; padding: 17px; overflow-x: hidden; max-height: 100%;' + height" ref="chatContainer">
        <div v-for="(message, index) in messages" :key="index">
          <div v-bind:class="{'incoming-bubble': message.incoming, 'outgoing-bubble': !message.incoming, 'tight': tight}" class="bubble">
            <div v-if="message.pointName"><i>{{message.pointName}}</i></div>
            <div v-if="message.sender"><b>{{message.sender}}</b></div>
            <div v-if="message.pointName || message.sender" style="margin-bottom: 12px;"><hr/></div>
            <div v-if="!message.file">{{message.text}}</div>
            <div v-else>
              <img :src="message.file" style="display: block; width: 100%;">
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { bus } from '~/api.js'
export default {
  props: ['messages', 'tight', 'height'],
  created () {
    bus.$on('chat update', async () => {
      setTimeout(() => {
        if (this.$refs.chatContainer) {
          this.$refs.chatContainer.scrollTop = this.$refs.chatContainer.scrollHeight
        }
      }, 100)
    })
  }
}
</script>

<style>
.bubble {
    margin: 12px 0;
    padding: 12px;
    min-height: 70px;
    color: white;
}
.outgoing-bubble {
	position: relative;
	background: #00a7bb;
	border-radius: .4em;
  margin-left: 200px;
}

.outgoing-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-left-color: #00a7bb;
	border-right: 0;
	margin-top: -17px;
	margin-right: -17px;
}

.incoming-bubble {
	position: relative;
	background: #1100ff;
	border-radius: .4em;
  margin-right: 200px;
}

.incoming-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
	border-right-color: #1100ff;
	border-left: 0;
	margin-top: -17px;
	margin-left: -17px;
}

.tight {
  margin-left: 0;
  margin-right: 0;
  max-width: 100% !important;
}
</style>
