<template>
<div style="overflow: hidden; max-height: calc(100vh - 100px);">
  <v-layout>
    <v-flex xs6>
      <v-card style="margin: 0 12px;">
          <v-tabs
          color="cyan"
          dark
          slider-color="yellow"
          >
          <v-tab ripple>
            Описание
          </v-tab>
          <v-tab ripple>
            На карте
          </v-tab>
          <v-tab ripple>
            Программа
          </v-tab>
          <v-tab-item>
            <v-card-text>
              <p>
                {{categoryName}}
              </p>
              <p>
                {{eventDescription}}
              </p>
            </v-card-text>
          </v-tab-item>
          <v-tab-item>
            <v-card style="margin: 0; height: 100%;">
              <v-card-text>
                <GmapMap ref="mapRef"
                  :center="{lat:10, lng:10}"
                  :zoom="12"
                  style="min-width: 100%; height: calc(100vh - 300px);"
                >
                  <GmapCircle v-if="currentPosition"
                    :center="{lat: currentPosition.lat, lng: currentPosition.lng}"
                    :options="{fillColor: '#FA4747',  fillOpacity: 0.3, strokeColor: '#FA4747'}"
                    :radius="300"/>
                  <GmapMarker v-if="currentPosition" label="Я здесь!"
                    :position="{lat: currentPosition.lat, lng: currentPosition.lng}"/>
                </GmapMap>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item>
            <v-list two-line>
              <template v-for="(item, index) in program">
                <v-list-tile
                  :key="index"
                  avatar
                  ripple
                >
                  <v-list-tile-content @click="gotoPoint(item.point)" style="cursor: pointer;">
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                    <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                  </v-list-tile-content>

                  <v-list-tile-action>
                    <v-checkbox @change="makeVote(item)"
                      v-model="item.action"
                    ></v-checkbox>
                  </v-list-tile-action>

                </v-list-tile>
                <v-divider
                  v-if="index + 1 < program.length"
                  :key="index + program.length"
                ></v-divider>
              </template>
            </v-list>
          </v-tab-item>
          </v-tabs>
        </v-card>
    </v-flex>
    <v-flex xs6 style="margin: 12px;">
      <Chat :messages="messages" height="height: calc(100vh - 230px);"/>
      <v-layout>
        <v-flex xs11>
          <v-text-field
              label="Ваше сообщение"
              single-line
            ></v-text-field>
        </v-flex>
        <v-flex xs1>
          <v-btn fab dark small color="primary">
            <v-icon dark>send</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</div>
</template>

<script>
import Chat from '~/components/Chat'
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'
import { api, bus } from '~/api.js'

const geolocation = require('geolocation')

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyAb5vJ57yscTSot11ec33gk4OR2nTrUrE4',
    libraries: 'drawing, visualization'
  }
})

export default {
  components: {
    'Chat': Chat
  },
  methods: {
    async makeVote (item) {
      let voteId = item.votes.find(entry => (entry.userId === api.User.current().id) && (entry.productId === item.productId))
      let vote
      if (!voteId) {
        const VoteClass = api.Object.extend('Vote')
        vote = new VoteClass()
      } else {
        const query = new api.Query('Vote')
        query.equalTo('objectId', voteId.id)
        vote = await query.first()
      }
      vote.set('productId', item.productId)
      vote.set('userId', api.User.current().id)
      vote.set('pointId', this.point.id)
      vote.set('plus', item.action)
      await vote.save()
      await this.prepare()
    },
    async prepare () {
      let self = this
      this.$refs.mapRef.$mapPromise.then((map) => {
        geolocation.getCurrentPosition(async function (err, position) {
          if (err) {
            map.panTo({lat: 53.7, lng: 87.1})
          } else {
            map.panTo({lat: position.coords.latitude, lng: position.coords.longitude})
            self.currentPosition = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
          }
        })
      })

      let query = new api.Query('Product')
      query.contains('categoryIds', this.point.categoryId.toString())
      let results = await query.find()

      let search = new api.Query('Company')
      search.containedIn('objectId', results.map(item => item.get('companyId')))
      let companies = await search.find()

      let data = new api.Query('Vote')
      data.equalTo('pointId', this.point.id)
      data = await data.find()

      let votes = []
      for (let key in data) {
        let entry = data[key]
        votes.push({
          userId: entry.get('userId'),
          productId: entry.get('productId'),
          plus: entry.get('plus'),
          id: entry.id
        })
      }

      let program = []
      for (let key in results) {
        let entry = results[key]
        let vote = votes.find(item => (item.userId === api.User.current().id) && (item.productId === entry.id))
        program.push({
          title: entry.get('Name'),
          headline: companies.find(item => item.id === entry.get('companyId')).get('name'),
          action: vote ? vote.plus : false,
          subtitle: '+' + votes.filter(item => (item.productId === entry.id) && item.plus).length.toString(),
          votes: votes,
          productId: entry.id
        })
      }

      this.program = program
    }
  },
  async mounted () {
    await this.prepare()
    bus.$on('logged in', this.prepare)
  },
  async asyncData ({ params, store }) {
    await store.dispatch('makeCircles')
    const point = store.state.circles.find(item => item.id === params.id)

    return {
      point,
      program: [],
      categoryName: store.state.categories.find(item => item.id === point.categoryId).name,
      eventDescription: point.name
    }
  },
  data () {
    let messages = [
      {
        incoming: true,
        text: 'Hello!'
      },
      {
        incoming: false,
        text: 'Hi!'
      }
    ]

    return { messages, currentPosition: false }
  }
}
</script>
