<template>
  <v-layout style="height: calc(100vh - 150px);">
    <v-flex xs6>
      <v-card style="margin: 0; height: calc(100vh - 150px);">
        <GmapMap ref="mapRef"
          :center="{lat: 53.7, lng: 87.1}"
          :zoom="12"
          style="min-width: 100%; height: calc(100vh - 150px);"
        >
          <GmapCircle v-for="(circle, index) in circles" :key="index"
            :center="{lat: circle.lat, lng: circle.lng}" @click="gotoPoint(circle)"
            :options="{fillColor: '#FA4747',  fillOpacity: 0.3, strokeColor: '#FA4747'}"
            :radius="circle.radius"/>
          <GmapMarker v-for="(circle, index) in circles" :key="circles.length + index"
            :position="{lat: circle.lat, lng: circle.lng}" :label="circle.name" :opacity="0.5"/>
          <GmapMarker v-if="currentPosition" label="Я здесь!"
            :position="{lat: currentPosition.lat, lng: currentPosition.lng}"/>
        </GmapMap>
      </v-card>
    </v-flex>
    <v-flex xs6>
      <v-card style="margin: 0 12px; height: calc(100vh - 150px);">
        <v-tabs
          v-model="active"
          color="blue"
          dark
          slider-color="yellow"
        >
          <v-tab
            :key="0"
            ripple
          >
            Организации
          </v-tab>
          <v-tab
            :key="1"
            ripple
            @click="updateChatScroll"
          >
            Лента
          </v-tab>
          <v-tab-item
            :key="0"
          >
            <v-card flat>
              <v-card-text>
                <v-list two-line>
                  <template v-for="(item, index) in companies">
                    <v-list-tile
                      :key="index"
                      avatar
                      ripple
                    >
                      <v-list-tile-content @click="gotoPoint(item.point)" style="cursor: pointer;">
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                        <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
                      </v-list-tile-content>

                      <v-list-tile-action>
                        <v-list-tile-action-text>{{ item.action }}</v-list-tile-action-text>
                        <v-icon
                          color="yellow darken-2"
                        >
                          star
                        </v-icon>
                      </v-list-tile-action>

                    </v-list-tile>
                    <v-divider
                      v-if="index + 1 < companies.length"
                      :key="index + companies.length"
                    ></v-divider>
                  </template>
                </v-list>
              </v-card-text>
            </v-card>
          </v-tab-item>
          <v-tab-item
            :key="1"
          >
            <v-card flat>
              <v-card-text>
                <Chat :messages="messages" :tight="true" height="height: calc(100vh - 220px);"/>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'
import Chat from '~/components/Chat'
import { api, bus } from '~/api.js'

const Geopoint = require('geopoint')
const geolocation = require('geolocation')

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyAb5vJ57yscTSot11ec33gk4OR2nTrUrE4',
    libraries: 'drawing, visualization'
  }
})

export default {
  components: {
    'Chat': Chat
  },
  async asyncData ({ store }) {
    bus.$emit('circles fetched', store.state.circles)

    let query = new api.Query('Company')
    query.containedIn('userId', store.state.circles.map(circle => circle.userId))
    let result = await query.find()

    let companies = []
    for (var key in result) {
      let company = result[key]
      companies.push({
        name: company.get('name'),
        description: company.get('description'),
        point: store.state.circles.find(circle => circle.userId === company.get('userId')),
        action: 'new!',
        title: company.get('name'),
        headline: company.get('description'),
        subtitle: store.state.circles.find(circle => circle.userId === company.get('userId')).name
      })
    }

    return { circles: store.state.circles, companies, messages: [] }
  },
  mounted () {
    let self = this
    this.$refs.mapRef.$mapPromise.then((map) => {
      geolocation.getCurrentPosition(async function (err, position) {
        if (err) {
          map.panTo({lat: 53.7, lng: 87.1})
        } else {
          map.panTo({lat: position.coords.latitude, lng: position.coords.longitude})
          self.currentPosition = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          }

          let points = []
          for (let key in self.circles) {
            let circle = self.circles[key]
            let distance = new Geopoint(circle.lat, circle.lng).distanceTo(
              new Geopoint(position.coords.latitude, position.coords.longitude),
              true // in kilometers
            ) * 1000
            if (distance < circle.radius) {
              points.push(circle.id)
            }
          }

          bus.$on('logged in', () => self.refetch(points))

          let live = new api.Query('Message')
          live.containedIn('pointId', points)
          let subscription = live.subscribe()

          subscription.on('open', async () => {
            await self.refetch(points)
          })

          subscription.on('create', (object) => {
            self.messages.push({
              point: object.get('pointId'),
              text: object.get('text'),
              incoming: object.get('userId') !== api.User.current().id,
              file: object.get('file') ? object.get('file').url() : null,
              pointName: self.$store.state.circles.find(circle => circle.id === object.get('pointId')).name,
              sender: object.get('sender')
            })
          })
          bus.$emit('chat update')
        }
      })
    })
  },
  methods: {
    updateChatScroll () {
      bus.$emit('chat update')
    },
    async refetch (points) {
      const search = new api.Query(api.Object.extend('Message'))

      search.containedIn('pointId', points)
      search.ascending('createdAt')
      let found = await search.find()

      this.messages = []
      for (let key in found) {
        let message = found[key]
        this.messages.push({
          point: message.get('pointId'),
          text: message.get('text'),
          incoming: message.get('userId') !== api.User.current().id,
          pointName: this.$store.state.circles.find(circle => circle.id === message.get('pointId')).name,
          file: message.get('file') ? message.get('file').url() : null,
          sender: message.get('sender')
        })
      }
      bus.$emit('chat update')
    },
    gotoPoint (circle) {
      this.$router.push('/point/' + circle.id.toString())
    }
  },
  data () {
    return {
      active: 0,
      currentPosition: false
    }
  }
}
</script>
