<template>
  <div style="overflow: hidden; max-height: calc(100vh - 100px);">
    <v-layout>
    <v-flex xs6>
      <v-card style="margin: 0 12px;">
          <v-tabs
          color="cyan"
          dark
          slider-color="yellow"
          >
          <v-tab ripple>
            Описание
          </v-tab>
          <v-tab ripple>
            На карте
          </v-tab>
          <v-tab ripple>
            Продукты
          </v-tab>
          <v-tab-item>
            <v-card-text>
              <p>
                <h3>{{company.name}}</h3>
              </p>
              <p>
                {{company.description}}
              </p>
            </v-card-text>
          </v-tab-item>
          <v-tab-item>
            <GmapMap ref="mapRef"
              :center="{lat: 10, lng: 10}"
              :zoom="12"
              style="min-width: 100%; height: calc(100vh - 300px);"
            >
              <GmapCircle v-if="this.circle"
                :center="{lat: circle.lat, lng: circle.lng}"
                :options="{fillColor: '#FA4747',  fillOpacity: 0.3, strokeColor: '#FA4747'}"
                :draggable='true' :editable='true' @radius_changed="radiusChanged" @center_changed="centerChanged"
                :radius="circle.radius"/>
              <GmapMarker v-if="circle" :label="circle.name" :draggable="false" :editable="false"
                :position="{lat: circle.lat, lng: circle.lng}"/>
            </GmapMap>
          </v-tab-item>
          <v-tab-item>
            <v-card flat>
              <v-card-text>
                <v-list two-line>
                  <template v-for="(item, index) in products">
                    <v-list-tile
                      :key="index"
                      ripple
                    >
                      <v-list-tile-content>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                        <v-list-tile-sub-title class="text--primary">{{ item.headline }}</v-list-tile-sub-title>
                      </v-list-tile-content>

                    </v-list-tile>
                    <v-divider
                      v-if="index + 1 < products.length"
                      :key="index + products.length"
                    ></v-divider>
                  </template>
                </v-list>
              </v-card-text>
            </v-card>
          </v-tab-item>
          </v-tabs>
        </v-card>
      </v-flex>
      <v-flex xs6 style="margin: 0 12px;">
        <Chat :messages="messages" class="truncated" height="height: calc(100vh - 220px);"/>
        <v-layout>
          <v-flex xs9>
            <v-text-field
              label="Ваше сообщение"
              single-line
              v-model="newMessage"
            ></v-text-field>
          </v-flex>
          <v-flex xs3>
            <v-btn fab dark small color="primary" @click="send">
              <v-icon dark>send</v-icon>
            </v-btn>
            <v-btn fab dark small color="default" @click="sendFile">
              <v-icon dark>attachment</v-icon>
            </v-btn>
            <input type="file" style="display:none;" @change="chosenFile" ref="fileInput"/>
          </v-flex>
        </v-layout>
    </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Chat from '~/components/Chat'
import { api, bus } from '~/api.js'

import Vue from 'vue'
import * as VueGoogleMaps from 'vue2-google-maps'

import _ from 'lodash'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyAb5vJ57yscTSot11ec33gk4OR2nTrUrE4',
    libraries: 'drawing, visualization'
  }
})

export default {
  components: {
    'Chat': Chat
  },
  computed: {
    googleMap: VueGoogleMaps.gmapApi
  },
  async asyncData ({ params, store }) {
    let query = new api.Query('Company')
    query.equalTo('userId', store.state.circles.find(circle => circle.id === params.id).userId)

    let result = await query.first()
    let company = {
      name: result.get('name'),
      description: result.get('description'),
      point: store.state.circles.find(circle => circle.userId === result.get('userId')),
      action: 'new!',
      title: result.get('name'),
      headline: result.get('description'),
      subtitle: store.state.circles.find(circle => circle.userId === result.get('userId')).name
    }

    let search = new api.Query('Product')
    search.equalTo('companyId', result.id)

    let data = await search.find()
    let products = []
    for (let key in data) {
      let product = data[key]
      products.push({
        title: product.get('Name'),
        headline: product.get('categoryIds').map(id => store.state.categories.find(item => item.id === id).name).join(', ')
      })
    }

    return { pointId: params.id, company, products }
  },
  data () {
    return { messages: [], newMessage: '', currentPosition: false, circle: null }
  },
  mounted () {
    bus.$on('logged in', () => this.refetch(this.pointId))
    if (process.browser) {
      let live = new api.Query('Message')
      live.equalTo('pointId', this.pointId)
      let subscription = live.subscribe()

      subscription.on('open', async () => {
        await this.refetch(this.pointId)
      })

      subscription.on('create', (object) => {
        this.messages.push({
          point: this.pointId,
          text: object.get('text'),
          incoming: object.get('userId') !== api.User.current().id,
          file: object.get('file') ? object.get('file').url() : null,
          sender: object.get('sender')
        })
        bus.$emit('chat update')
      })
    } else {
      this.refetch(this.pointId)
    }
  },
  ready () {
    window.beforeunload = this.leaving
    window.onblur = this.leaving
  },
  methods: {
    centerChanged: _.debounce(async function (center) {
      if (!center) return
      let lat = center.lat()
      let lng = center.lng()
      if (!parseFloat(lat) || !parseFloat(lng)) {
        return
      }

      const query = new api.Query('Point')
      query.equalTo('objectId', this.pointId)
      let result = await query.first()

      result.set('center', new api.GeoPoint(parseFloat(lat), parseFloat(lng)))
      await result.save()

      // this.$store.dispatch('makeCircles')
      // await this.prepare(true)
    }, 500),
    radiusChanged: _.debounce(async function (radius) {
      if (!radius || !parseFloat(radius)) {
        return
      }

      if (parseFloat(radius) < 100) radius = 100

      const query = new api.Query('Point')
      query.equalTo('objectId', this.pointId)
      let result = await query.first()

      result.set('radius', parseFloat(radius))
      await result.save()

      // this.$store.dispatch('makeCircles')
      // await this.prepare(true)
    }, 500),
    async prepare (changes = false) {
      let self = this

      if (changes) {
        const circle = this.$store.state.circles.find(circle => circle.id === self.pointId)
        self.circle = circle
        return
      }

      this.$refs.mapRef.$mapPromise.then((map) => {
        const circle = this.$store.state.circles.find(circle => circle.id === self.pointId)
        map.panTo({lat: circle.lat, lng: circle.lng})
        self.currentPosition = {
          lat: circle.lat,
          lng: circle.lng
        }
        self.circle = circle
      })
    },
    leaving: function () {
      this.subscription.unsubscribe()
    },
    refetch: async function (pointId) {
      const search = new api.Query(api.Object.extend('Message'))
      search.equalTo('pointId', pointId)
      search.ascending('createdAt')
      let found = await search.find()

      this.messages = []
      for (let key in found) {
        let message = found[key]
        this.messages.push({
          point: message.get('pointId'),
          text: message.get('text'),
          incoming: message.get('userId') !== api.User.current().id,
          file: message.get('file') ? message.get('file').url() : null,
          sender: message.get('sender')
        })
      }

      bus.$emit('chat update')
      await this.prepare()
    },
    async send () {
      let message = new (api.Object.extend('Message'))()
      message.set('text', this.newMessage)
      message.set('userId', api.User.current().id)
      message.set('pointId', this.pointId)
      message.set('sender', api.User.current().get('username'))
      await message.save()
      this.newMessage = ''
    },
    sendFile () {
      this.$refs.fileInput.click()
    },
    async chosenFile () {
      if (this.$refs.fileInput.files.length) {
        let file = this.$refs.fileInput.files[0]
        let message = new (api.Object.extend('Message'))()
        message.set('file', new api.File('image.png', file))
        message.set('userId', api.User.current().id)
        message.set('pointId', this.pointId)
        message.set('sender', api.User.current().get('username'))
        await message.save()
        this.newMessage = ''
      }
    }
  }
}
</script>

<style>
.truncated {
    max-height: calc(100vh - 200px);
    overflow: hidden;
    margin-bottom: 24px;
}
</style>
